/*
https://css-tricks.com/theming-with-variables-globals-and-locals/
https://medium.com/eightshapes-llc/tokens-in-design-systems-25dd82d58421
https://bradfrost.com/blog/post/creating-themeable-design-systems/

*/

/* NEED PREFIX */
/* MAYBE D9- D10- D11- THEN WE CAN DEPRECATE EASILY!!!! */

.root-frontend {
  --color-primary--light: var(--my-custom-theme-10); /* need contrast 4.5:1 */
  --color-primary--medium:var(--my-custom-theme-10);
  --color-primary--dark: var(--color--theme-50);

  --color-neutral--light: #ccc; /* Grays or whatevs */
  --color-neutral--medium: #777;
  --color-neutral--dark: #222;

  --color-notification--background: black;
  --color-notification--error: red;
  --color-notification--success: green;
  --color-notification--warning: orange;

  /* Explain what "canvas" means. */
  --color-canvas: #fff;
  --color-canvas--neutral: #eee;
  --color-canvas--text: var(--text-on-light);
  
  --color-link: var(--color-primary-medium);
  
  --color-text-on-light: var(--color-neutral--medium);
  --color-text-on-dark: var(--color-neutral--light);

 /*
  * Spacing units
  */
  --spacing: 16px;
  --spacing--xs: calc(0.5 * var(--spacing));
  --spacing--s: calc(0.75 * var(--spacing));
  --spacing--m: var(--spacing);
  --spacing--l: calc(2 * var(--spacing));
  --spacing--xl: calc(3 * var(--spacing));
  --spacing--2xl: calc(4 * var(--spacing));
  --spacing--3xl: calc(5 * var(--spacing));
  

 /*
  * Typography
  */

  --font-family: sans;

  --font-size-xs: 13px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 18px;
  --font-size-xl: 20px;
  --font-size-2xl: 23px;
  --font-size-3xl: 26px;
  --font-size-4xl: 29px;
  --font-size-5xl: 32px;

  --line-height-xs: 13px;
  --line-height-s: 14px;
  --line-height-m: 16px;
  --line-height-l: 18px;
  --line-height-xl: 20px;
  --line-height-2xl: 23px;
  --line-height-3xl: 26px;
  --line-height-4xl: 29px;
  --line-height-5xl: 32px;
}
